{% extends 'appointment/doctors/doctor.html' %}
{% load static %}

{% block title %}
Dr. Binay Kumar Rauniyar - Interventional Cardiologist
{% endblock title %}

{% block doctor %}
<div class="doctor-profile">
    <div class="image">
        <img src="{% static 'images/heart_appoint_Binay.jpg' %}" alt="Dr. Binay Kumar Rauniyar">
    </div>
    <div class="text1">
        <h2>Dr. Binay Kumar Rauniyar</h2>
        <p><strong>MBBS, MD</strong></p>
        <p><strong>Interventional Cardiologist</strong></p>
        <p><strong>NMC No: 7890</strong></p> <!-- Replace with Dr. Binay's actual NMC No -->
        <br>

        <h3>Specialities</h3>
        <ul>
            <li>Clinical Cardiology</li>
            <li>Interventional Cardiology</li>
        </ul>
        <br>

        <h3>Interests</h3>
        <ul>
            <li>Coronary interventions, special focus on ACS</li>
            <li>Coronary imaging (OCT/IVUS)</li>
            <li>Rotational atherectomy</li>
            <li>Structural Interventions (BMV/BPV and device closure of ASDs)</li>
            <li>Management of chronic heart failure</li>
        </ul>
        <br>

        <h3>Academic Qualifications & Fellowships</h3>
        <ul>
            <li>MBBS from Shanghai Medical College, Fudan University, Shanghai</li>
            <li>MD Cardiology from Shanghai Medical College, Fudan University, Shanghai</li>
            <li>Fellowship in Interventional Cardiology from Fortis Escorts Heart Institute, New Delhi</li>
        </ul>
        <br>

        <h3>Memberships</h3>
        <ul>
            <li>Cardiac Society of Nepal (CSN)</li>
            <li>Nepal Medical Association</li>
        </ul>
        <br>

        <h3>Additional Information</h3>
        <ul>
            <li>Associate Professor, NAMS</li>
            <li>College of Physicians and Surgeons Pakistan (CPSP)</li>
            <li>Supervisor, FCPS</li>
        </ul>
        <br>

        <h3>Contact Info</h3>
        <ul>
            <li>Email: <a href="mailto:brauniyar@homail.com">brauniyar@homail.com</a></li>
            <li>Twitter: <a href="https://twitter.com/brauniyar" target="_blank">@brauniyar</a></li>
        </ul>
    </div>
</div>
{% endblock doctor %}
