{% extends 'appointment/doctors/doctor.html' %}
{% load static %}

{% block title %}
Dr. Dharma Nah Yadav - Consultant Cardiologist
{% endblock title %}

{% block doctor %}
<div class="doctor-profile">
    <div class="image">
        <img src="{% static 'images/heart_appoint_dharma.jpeg' %}" alt="Dr. Dharma Nah Yadav">
    </div>
    <div class="text1">
        <h2>Dr. Dharma Nah Yadav</h2>
        <p><strong>MBBS, MD</strong></p>
        <p><strong>Interventional Cardiologist</strong></p>
        <p><strong>NMC No: 7891</strong></p>
        <br>

        <h3>Specialities</h3>
        <ul>
            <li>Clinical Cardiology</li>
            <li>Interventional Cardiology</li>
        </ul>
        <br>

        <h3>Interests</h3>
        <ul>
            <li>Clinical Cardiology</li>
            <li>Interventional Cardiology</li>
            <li>CHIP Procedure</li>
            <li>Coronary Imaging (Intravascular Ultrasound (IVUS), Optical Coherence Tomography (OCT))</li>
            <li>Rotational Atherectomy</li>
            <li>BMV, BPV</li>
            <li>Peripheral Angioplasty</li>
        </ul>
        <br>

        <h3>Academic Qualifications & Fellowships</h3>
        <ul>
            <li>MBBS, Samara State Medical University, Russia</li>
            <li>MD Cardiology, Mordovia State University, Russia</li>
            <li>Fellowship in Interventional Cardiology, Medanta the Medicity, Gurgaun, India</li>
        </ul>
        <br>

        <h3>Memberships</h3>
        <ul>
            <li>Cardiac Society of Nepal</li>
        </ul>
        <br>

        <h3>Languages Known</h3>
        <ul>
            <li>Nepali</li>
            <li>English</li>
            <li>Maithili</li>
            <li>Hindi</li>
            <li>Russian</li>
        </ul>
    </div>
</div>
{% endblock doctor %}
