{% extends "base.html"%}

{% block content%}
<section class="about">
    <div class="content">
        <h3>Why Choose HeartPath?</h3>
        <p>At HeartPath, we provide a comprehensive suite of services that empower individuals to take control of their heart health. Whether you're looking to prevent heart disease, schedule a doctor appointment, or find the best hospitals for treatment, HeartPath offers the support you need through:</p>
        <div class="icons-container">
            <div class="icons">
                <i class="fas fa-heartbeat"></i>
                <span>Accurate heart disease prediction</span>
            </div>
            <div class="icons">
                <i class="fas fa-hospital"></i>
                <span>Recommendations for trusted hospitals</span>
            </div>
            <div class="icons">
                <i class="fas fa-calendar-check"></i>
                <span>Simple doctor appointment scheduling</span>
            </div>
            <div class="icons">
                <i class="fas fa-info-circle"></i>
                <span>Heart health tips & personalized advice</span>
            </div>
        </div>

        <div class="content">
            <h3>Our Vision</h3>
            <p>We strive to make heart health management simple, accessible, and effective for everyone. By providing valuable insights and personalized care, we aim to empower individuals to prevent heart disease before it develops and to live healthier lives. HeartPath is your dedicated partner on the journey to a healthier heart.</p>
        </div>
    </div>
</section>
<!-- about section ends -->
 {% endblock%}